In [26]:
import pandas as pd
import numpy as np
df = pd.read_csv("skill.csv")
#df
f = open("skill.csv")
file_length = len(f.readlines())
#print(file_length,type(file_length))
df1 = pd.read_csv("skill_number.csv",header=None)
print(df1)
#print(type(df1))
#print(type(df1[0][0]))
#df1[0][0]
r = []
for index,row in df1.iterrows():
    row=row[~row.isnull()]
    for i in range(len(row)):
        if row[i]!=np.nan:
            #print(str(int(row[i])),end=',')
            s = str(index+1)+','+str(int(row[i]))+',1'
            #print(s)
            r.append(s)
    #print()
df2 = pd.DataFrame(r)
df2.to_csv("aman_rating.csv",index=False)
df2 = pd.read_csv("aman_rating.csv")

     0   1   2   3   4   5
0   35  18  25  11  30  17
1    4   2  12  36   0   1
2   13  28  20   9  33   1
3    2  24   4  17  35  32
4   28   7   3   2   8  13
5   19   9  16  29  20  26
6   31  21  23  25  17  15
7   12   8  24   7  18   9
8   24 NaN NaN NaN NaN NaN
9   35  25   5   3   7  32
10  20   6  33   3  21  15
11  18  19  16  23   4  34
12  11  21   6  27  33  13
13  15 NaN NaN NaN NaN NaN
14  12  27  28   8  29  14
15  27   6  34  14  29   1
16  22  19  31  11  32   0
17  36  22  10  23   0  30
18  34  30   5  36 NaN NaN
19  16  10   5  26  22  14

In [27]:
df2

           0
0     1,35,1
1     1,18,1
2     1,25,1
3     1,11,1
4     1,30,1
5     1,17,1
6      2,4,1
7      2,2,1
8     2,12,1
9     2,36,1
10     2,0,1
11     2,1,1
12    3,13,1
13    3,28,1
14    3,20,1
15     3,9,1
16    3,33,1
17     3,1,1
18     4,2,1
19    4,24,1
20     4,4,1
21    4,17,1
22    4,35,1
23    4,32,1
24    5,28,1
25     5,7,1
26     5,3,1
27     5,2,1
28     5,8,1
29    5,13,1
..       ...
78   15,29,1
79   15,14,1
80   16,27,1
81    16,6,1
82   16,34,1
83   16,14,1
84   16,29,1
85    16,1,1
86   17,22,1
87   17,19,1
88   17,31,1
89   17,11,1
90   17,32,1
91    17,0,1
92   18,36,1
93   18,22,1
94   18,10,1
95   18,23,1
96    18,0,1
97   18,30,1
98   19,34,1
99   19,30,1
100   19,5,1
101  19,36,1
102  20,16,1
103  20,10,1
104   20,5,1
105  20,26,1
106  20,22,1
107  20,14,1

[108 rows x 1 columns]

In [28]:
def readingFile(filename):
    f = open(filename,"r")
    data=[]
    c=0
    for row in f:
        if c==0:
            c=1
            continue
        r = row.split(',')
        r[len(r)-1] = r[len(r)-1][:-2]
        r[0] = r[0][1:]
        #print(r)
        #for i in range(len(r)):
            #print(i,'->',r[i],end=' ::: ')
        #print()
        r[0] = int(r[0])
        #print('r[0]=',r[0],"\t",type(r[0]))
        #print(r[1],"\t",type(r[1]))
        #r[2] = r[2][:-2]
        #print(r[2],"\t",type(r[2]))
        e = [ int(r[0]) , int(r[1]) , int(r[2])]
        data.append(e)
    f.close()
    return data


readingFile("aman_rating.csv")

[[1, 35, 1],
 [1, 18, 1],
 [1, 25, 1],
 [1, 11, 1],
 [1, 30, 1],
 [1, 17, 1],
 [2, 4, 1],
 [2, 2, 1],
 [2, 12, 1],
 [2, 36, 1],
 [2, 0, 1],
 [2, 1, 1],
 [3, 13, 1],
 [3, 28, 1],
 [3, 20, 1],
 [3, 9, 1],
 [3, 33, 1],
 [3, 1, 1],
 [4, 2, 1],
 [4, 24, 1],
 [4, 4, 1],
 [4, 17, 1],
 [4, 35, 1],
 [4, 32, 1],
 [5, 28, 1],
 [5, 7, 1],
 [5, 3, 1],
 [5, 2, 1],
 [5, 8, 1],
 [5, 13, 1],
 [6, 19, 1],
 [6, 9, 1],
 [6, 16, 1],
 [6, 29, 1],
 [6, 20, 1],
 [6, 26, 1],
 [7, 31, 1],
 [7, 21, 1],
 [7, 23, 1],
 [7, 25, 1],
 [7, 17, 1],
 [7, 15, 1],
 [8, 12, 1],
 [8, 8, 1],
 [8, 24, 1],
 [8, 7, 1],
 [8, 18, 1],
 [8, 9, 1],
 [9, 24, 1],
 [10, 35, 1],
 [10, 25, 1],
 [10, 5, 1],
 [10, 3, 1],
 [10, 7, 1],
 [10, 32, 1],
 [11, 20, 1],
 [11, 6, 1],
 [11, 33, 1],
 [11, 3, 1],
 [11, 21, 1],
 [11, 15, 1],
 [12, 18, 1],
 [12, 19, 1],
 [12, 16, 1],
 [12, 23, 1],
 [12, 4, 1],
 [12, 34, 1],
 [13, 11, 1],
 [13, 21, 1],
 [13, 6, 1],
 [13, 27, 1],
 [13, 33, 1],
 [13, 13, 1],
 [14, 15, 1],
 [15, 12, 1],
 [15, 27, 1],
 [15, 28, 1],
 [15, 8, 1],
 [15, 29, 1],
 [15, 14, 1],
 [16, 27, 1],
 [16, 6, 1],
 [16, 34, 1],
 [16, 14, 1],
 [16, 29, 1],
 [16, 1, 1],
 [17, 22, 1],
 [17, 19, 1],
 [17, 31, 1],
 [17, 11, 1],
 [17, 32, 1],
 [17, 0, 1],
 [18, 36, 1],
 [18, 22, 1],
 [18, 10, 1],
 [18, 23, 1],
 [18, 0, 1],
 [18, 30, 1],
 [19, 34, 1],
 [19, 30, 1],
 [19, 5, 1],
 [19, 36, 1],
 [20, 16, 1],
 [20, 10, 1],
 [20, 5, 1],
 [20, 26, 1],
 [20, 22, 1],
 [20, 14, 1]]

In [29]:
user_skill = ['css' , 'html' , 'mongodb' , 'python']
user_skill_number = []
df = pd.read_csv("unique_skills.csv",header=None)
df

                  0
0               php
1              html
2               css
3        javascript
4            python
5           mongodb
6            nodejs
7              java
8               sql
9                 c
10            adobe
11        photoshop
12            unity
13          physics
14  imageprocessing
15              ios
16          android
17           jquery
18        bootstrap
19           django
20        angularjs
21             dbms
22               ml
23     rprogramming
24            linux
25             unix
26   embeddedsystem
27              cpp
28              iot
29           hadoop
30   cloudcomputing
31              aws
32        wordpress
33             json
34   datastructures
35          reactjs
36            swift

In [30]:
import csv
unique_skills = []
with open('unique_skills.csv', 'r') as csvFile:
    reader = csv.reader(csvFile)
    for row in reader:
        print(row[0],type(row))
        unique_skills.append(row[0])

csvFile.close()
print("unique_skills = ",unique_skills,type(unique_skills[0]))

php <class 'list'>
html <class 'list'>
css <class 'list'>
javascript <class 'list'>
python <class 'list'>
mongodb <class 'list'>
nodejs <class 'list'>
java <class 'list'>
sql <class 'list'>
c <class 'list'>
adobe <class 'list'>
photoshop <class 'list'>
unity <class 'list'>
physics <class 'list'>
imageprocessing <class 'list'>
ios <class 'list'>
android <class 'list'>
jquery <class 'list'>
bootstrap <class 'list'>
django <class 'list'>
angularjs <class 'list'>
dbms <class 'list'>
ml <class 'list'>
rprogramming <class 'list'>
linux <class 'list'>
unix <class 'list'>
embeddedsystem <class 'list'>
cpp <class 'list'>
iot <class 'list'>
hadoop <class 'list'>
cloudcomputing <class 'list'>
aws <class 'list'>
wordpress <class 'list'>
json <class 'list'>
datastructures <class 'list'>
reactjs <class 'list'>
swift <class 'list'>
unique_skills =  ['php', 'html', 'css', 'javascript', 'python', 'mongodb', 'nodejs', 'java', 'sql', 'c', 'adobe', 'photoshop', 'unity', 'physics', 'imageprocessing', 'ios', 'android', 'jquery', 'bootstrap', 'django', 'angularjs', 'dbms', 'ml', 'rprogramming', 'linux', 'unix', 'embeddedsystem', 'cpp', 'iot', 'hadoop', 'cloudcomputing', 'aws', 'wordpress', 'json', 'datastructures', 'reactjs', 'swift'] <class 'str'>

In [31]:
user_skill_number=[]
print("user_skill = ",user_skill,type(user_skill[0]))
for i in range(len(unique_skills)):
    if unique_skills[i] in user_skill:
        print("unique_skills[i] = ",unique_skills[i],"i = ",i,"")
        user_skill_number.append(str(i))
print(type(user_skill_number))
print(user_skill_number)

user_skill =  ['css', 'html', 'mongodb', 'python'] <class 'str'>
unique_skills[i] =  html i =  1
unique_skills[i] =  css i =  2
unique_skills[i] =  python i =  4
unique_skills[i] =  mongodb i =  5
<class 'list'>
['1', '2', '4', '5']

In [32]:
df = pd.DataFrame(user_skill_number)
df.to_csv("new_to_be_realted.csv",index=False)